.conten {
  width: 364px;
  height: 83px;
  border-radius: 8px;
  background: var(--Platform-Aliases-Shape-secundria, #29292e);
}
.descrip2 {
  color: #c4c4cc;

  text-align: center;
  /* Text sm */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.descrip{
    color: var(--Neutral-Colors-White, #FFF);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 28.8px */
}
